.titulo {
  font-family: "Poppins";
  font-size: 64px;
  line-height: 1.12;
  font-weight: 600;
}
.titulo span {
  color: var(--cor-p1);
}
.texto {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  padding: 32px 0 20px 0;
}
@media (max-width: 1200px){
  .titulo{
    font-size: 48px;
  }
  .texto {
    font-size: 20px;
  }
}
@media (max-width: 1000px){
  .titulo{
    font-size: 40px;
  }
  .texto {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  .texto {
    padding: 16px 0 12px 0;
  }
}