.depoimento-fala {
  font: 900 36px/1.33 "Merriweather";
  max-width: 30ch;
}
.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 120px 0;
  background-color: var(--cor-p1);
}
.depoimento-texto {
  padding: 40px 40px 80px 80px;
  align-self: end;
}
.depoimento-texto p {
  position: relative;
  padding-bottom: 12px;
}
.depoimento-texto p::before {
  content: "“";
  position: absolute;
  left: -40px;
  top: -20px;
  color: var(--cor-p2);
  font-size: 64px;
}
.depoimento-texto p::after {
  content: "”";
  color: var(--cor-p2);
  font-size: 64px;
  position: absolute;
  overflow: hidden;
}
.depoimento span {
  align-self: end;
  font: 600 24px/1.33 "Poppins";
  padding-top: 0px;
}
.depoimento img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 0px;
}

@media (max-width: 1000px) {
  .depoimento-fala {
    font-size: 24px;
  }
  .depoimento-texto {
    padding: 20px 20px 40px 40px;
    align-self: end;
  }
  .depoimento span {
    font-size: 18px;
  }
  .depoimento-texto p {
    padding-bottom: 8px;
  }
  .depoimento-texto p::before {
    font-size: 48px;
    left: -30px;
    top: -10px;
  }
  .depoimento-texto p::after {
    font-size: 48px;
  }
}
@media (max-width: 800px) {
  .depoimento-fala {
    font-size: 24px;
  }
  .depoimento-texto p::before {
    font-size: 36px;
    left: -10px;
    top: -8px;
  }
  .depoimento-texto p::after {
    font-size: 36px;
  }
  .depoimento-texto p {
    text-align: center;
  }
  .depoimento span {
    font-size: 16px;
  }
  .depoimento {
    display: grid;
    grid-template-columns: 1fr;
  }
  .depoimento-texto {
    place-self: center;

  }
  .depoimento-foto {
    max-height: 200px;
  }
  .depoimento-texto {
    padding: 30px 0px;
  }
}
@media (max-width: 600px) {
  .depoimento-fala {
    font-size: 18px;
  }
}