.tecnologia-bg {
  background-color: var(--cor-11);
  margin-top: 120px;
  box-shadow: inset 0 120px #fff, inset 0 -120px #fff;

}
#ferramentas {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}
.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.tecnologia-informacoes {
  padding-top: 180px;
  padding-bottom: 180px;
}
.tecnologia-informacoes p {
  padding-bottom: 20px;
}
.tecnologia-informacoes h1 {
  padding-bottom: 32px;
}
.infos {
  display: flex;
  gap: 40px;
  padding-top: 80px;
}
.infos h3 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.infos .texto {
  font-size: 16px;
}
.link {
  font: 600 24px/1.5 'Poppins';
  position: relative;
}
.link::after {
  content: "";
  background-color: var(--cor-p1);
  height: 4px;
  width: 100%;
  display: block;
  position: absolute;
  border-radius: 4px;
}
.link:hover {
  color: var(--cor-p2);
  transition: 0.2s;
}
.link:hover::after {
  background-color: var(--cor-p2);
  transition: 0.2s;
}

@media (max-width: 800px) {
  #ferramentas {
    display: none;
  }
  .tecnologia {
    grid-template-columns: 1fr;
  }
  .tecnologia-bg {
    margin-top: 80px;
    box-shadow: none;
  }
  .tecnologia-informacoes {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}